.hidden {
  display: none;
}

.flyout-container {
  position: relative;
}

.flyout-error {
  text-decoration: underline wavy red;
}

.flyout-intelisense {
  text-decoration: underline blue;
  border-bottom: 1px solid blue;
}

.flyout-content {
  position: absolute;
  border-width: 1px;
  border-color: red;
  z-index: 1;
  background-color: lightblue;
}

tab {
  display: inline-block;
  min-width: 20px;
  min-height: 19px;
}

body {
  padding: 20px;
}

b {
  font-weight: 900;
  font-size: 20px;
  line-height: 0.8;
}